interactions:
- request:
    body: '{"query": "startup shuts down", "topic": "news", "start_date": "2024-01-01",
      "end_date": "2024-03-31", "search_depth": "basic", "max_results": 20, "include_raw_content":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.tavily.com/search
  response:
    body:
      string: "{\"query\":\"startup shuts down\",\"follow_up_questions\":null,\"answer\":null,\"images\":[],\"results\":[{\"url\":\"https://www.finextra.com/newsarticle/43623/super-app-startup-paysme-shuts-up-shop/wholesale\",\"title\":\"Super
        app startup Paysme shuts up shop - Finextra\",\"score\":0.9994116,\"published_date\":\"Wed,
        31 Jan 2024 11:05:26 GMT\",\"content\":\"Write a blog post about this story
        (membership required) Trending 24 Jan 0 25 Jan 0 3 2 24 Jan 0 2 26 Jan 0 3
        6 AI and Cloud: The Proving Ground for Regulatory Resilience in 2024 423\_downloads
        Cloud innovation paves path to the future 157\_downloads Payments: The key
        to unlocking new ecosystems and why merchant services are on the up 613\_downloads
        About Finextra Community Rules Register for news Contact Us Editorial Sales
        Sales Register for news Register Follow Us \xA9 Finextra Research 2024  \\\"
        Sponsored: [New Impact Study] AI and Cloud: The Proving Ground for Regulatory
        Resilience in 2024 For Finextra's free daily newsletter, breaking news and
        flashes and weekly job board.  Super app startup Paysme shuts up shop Paysme,
        a fintech startup aiming to build a financial super app for small businesses
        in the UK, is winding down.  Stewart shared news of the firm's demise on LinkedIn:
        \\\"While our purpose, product & brand made a meaningful impact in 3 traditiona[...]
[...]
- request:
    body: '{"query": "startup shuts down", "topic": "news", "start_date": "2024-07-01",
      "end_date": "2024-09-30", "search_depth": "basic", "max_results": 20, "include_raw_content":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.tavily.com/search
  response:
    body:
      string: "{\"query\":\"startup shuts down\",\"follow_up_questions\":null,\"answer\":null,\"images\":[],\"results\":[{\"url\":\"https://techcrunch.com/2024/08/24/these-74-robotics-companies-are-hiring/\",\"title\":\"These
        74 robotics companies are hiring - TechCrunch\",\"score\":0.7892337,\"published_date\":\"Sat,
        24 Aug 2024 12:00:00 GMT\",\"content\":\"These 74 robotics companies are hiring
        | TechCrunch More TechCrunch ### NASA to decide Saturday whether astronauts
        will ride Boeing\u2019s Starliner home \u2014 or use SpaceX\u2019s Dragon
        instead\_ ### Halliburton shuts down systems after cyberattack ### VC Neil
        Mehta, who\u2019s quietly nabbing prized SF property, plans a \u201CY Combinator
        for restaurants\u201D ### Threads confirms it is experimenting with ephemeral
        posts EV startup Canoo\u2019s chief technology officer Sohel Merchant has
        left the company, two people familiar with his departure have told TechCrunch.
        Founder of failed fintech Synapse says he\u2019s raised $11M for new robotics
        startup TechCrunch\",\"raw_content\":\"These 74 robotics companies are hiring
        | TechCrunch\\n===============\\n\\n[Skip to content](https://techcrunch.com/2024/08/24/these-74-robotics-companies-are-hiring/#wp--skip-link--target)\\n\\n[![Image
        1: TechCrunch Logo](https://techcrunch.com/wp-content/themes/tc-23/dist/svg/tc-logo.svg)](https://techcrunch.com/)\\n\\n[Login](https://oidc.techcrunch.com/login/?dest=https%3A%2F%2Ftechcrunch.com%2F2024%2F08%2F24%2Fthese-74-robotics-companies-are-hiring%2F)
        [![Image 2][...]
[...]
